<div class="asset-mgmt-container">
    <div class="d-flex justify-content-between align-items-center p-3 nav-bar">
        <img src="assets/main-home.svg" alt="">
        <div class="d-flex gap-3">
            <strong>Safety Tips</strong>
            <strong>How It Works</strong>
        </div>
        <div class="d-flex gap-3">
            <div  class="seach-icon">
            <input type="text" placeholder="Filter">
            <img src="assets/sliders.svg" alt="">
            </div>
            <div class="seach-icon">
            <input type="text" placeholder="Search">
            <img src="assets/search.svg" alt="">
            </div>
        </div>
        <div class="d-flex gap-1 logout">
            <img src="assets/logout.svg" alt="">
            <p class="m-0">Logout</p>
        </div>
    </div>
    <div class="d-flex flex-wrap m-3">
    <div class="card-main m-3 main-card">
        <strong>Apartment-3bedroom,1Bath</strong>
        <p class="m-0">1Bad avail | $875 p/room | avail 27 May</p>
        <img class="mt-2" src="assets/card-detail.png" alt="">
        <hr>
        <strong>Anil</strong>
        <p>multiple roommates</p>
        <div class="d-flex">
            <img  class="card-user" src="assets/card-user.png" alt="">
            <div class="ms-3">
                <p class="m-0">22 Years</p>
                <p class="m-0">1 male</p>
                <p class="m-0">stranger</p>
                <p class="m-0">ui/ux designer</p>
            </div>
        </div>
        <hr>
        <div class="d-flex gap-4 mt-3">
            <div class="d-flex gap-2">
                <img src="assets/dial.svg" alt="">
                <p class="m-0">Contact</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/share.svg" alt="">
                <p class="m-0">Share</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/location.svg" alt="">
                <p class="m-0">Location</p>
            </div>
        </div>
    </div>
    <div class="card-main m-3">
        <strong>Apartment-3bedroom,1Bath</strong>
        <p class="m-0">1Bad avail | $875 p/room | avail 27 May</p>
        <img class="mt-2" src="assets/card-detail.png" alt="">
        <hr>
        <strong>Anil</strong>
        <p>multiple roommates</p>
        <div class="d-flex">
            <img  class="card-user" src="assets/card-user.png" alt="">
            <div class="ms-3">
                <p class="m-0">22 Years</p>
                <p class="m-0">1 male</p>
                <p class="m-0">stranger</p>
                <p class="m-0">ui/ux designer</p>
            </div>
        </div>
        <hr>
        <div class="d-flex gap-4 mt-3">
            <div class="d-flex gap-2">
                <img src="assets/dial.svg" alt="">
                <p class="m-0">Contact</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/share.svg" alt="">
                <p class="m-0">Share</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/location.svg" alt="">
                <p class="m-0">Location</p>
            </div>
        </div>
    </div>
    <div class="card-main m-3">
        <strong>Apartment-3bedroom,1Bath</strong>
        <p class="m-0">1Bad avail | $875 p/room | avail 27 May</p>
        <img class="mt-2" src="assets/card-detail.png" alt="">
        <hr>
        <strong>Anil</strong>
        <p>multiple roommates</p>
        <div class="d-flex">
            <img  class="card-user" src="assets/card-user.png" alt="">
            <div class="ms-3">
                <p class="m-0">22 Years</p>
                <p class="m-0">1 male</p>
                <p class="m-0">stranger</p>
                <p class="m-0">ui/ux designer</p>
            </div>
        </div>
        <hr>
        <div class="d-flex gap-4 mt-3">
            <div class="d-flex gap-2">
                <img src="assets/dial.svg" alt="">
                <p class="m-0">Contact</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/share.svg" alt="">
                <p class="m-0">Share</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/location.svg" alt="">
                <p class="m-0">Location</p>
            </div>
        </div>
    </div>
    <div class="card-main m-3">
        <strong>Apartment-3bedroom,1Bath</strong>
        <p class="m-0">1Bad avail | $875 p/room | avail 27 May</p>
        <img class="mt-2" src="assets/card-detail.png" alt="">
        <hr>
        <strong>Anil</strong>
        <p>multiple roommates</p>
        <div class="d-flex">
            <img  class="card-user" src="assets/card-user.png" alt="">
            <div class="ms-3">
                <p class="m-0">22 Years</p>
                <p class="m-0">1 male</p>
                <p class="m-0">stranger</p>
                <p class="m-0">ui/ux designer</p>
            </div>
        </div>
        <hr>
        <div class="d-flex gap-4 mt-3">
            <div class="d-flex gap-2">
                <img src="assets/dial.svg" alt="">
                <p class="m-0">Contact</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/share.svg" alt="">
                <p class="m-0">Share</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/location.svg" alt="">
                <p class="m-0">Location</p>
            </div>
        </div>
    </div>
    <div class="card-main m-3">
        <strong>Apartment-3bedroom,1Bath</strong>
        <p class="m-0">1Bad avail | $875 p/room | avail 27 May</p>
        <img class="mt-2" src="assets/card-detail.png" alt="">
        <hr>
        <strong>Anil</strong>
        <p>multiple roommates</p>
        <div class="d-flex">
            <img  class="card-user" src="assets/card-user.png" alt="">
            <div class="ms-3">
                <p class="m-0">22 Years</p>
                <p class="m-0">1 male</p>
                <p class="m-0">stranger</p>
                <p class="m-0">ui/ux designer</p>
            </div>
        </div>
        <hr>
        <div class="d-flex gap-4 mt-3">
            <div class="d-flex gap-2">
                <img src="assets/dial.png" alt="">
                <p class="m-0">Contact</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/share.svg" alt="">
                <p class="m-0">Share</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/location.svg" alt="">
                <p class="m-0">Location</p>
            </div>
        </div>
    </div>
    <div class="card-main m-3">
        <strong>Apartment-3bedroom,1Bath</strong>
        <p class="m-0">1Bad avail | $875 p/room | avail 27 May</p>
        <img class="mt-2" src="assets/card-detail.png" alt="">
        <hr>
        <strong>Anil</strong>
        <p>multiple roommates</p>
        <div class="d-flex">
            <img  class="card-user" src="assets/card-user.png" alt="">
            <div class="ms-3">
                <p class="m-0">22 Years</p>
                <p class="m-0">1 male</p>
                <p class="m-0">stranger</p>
                <p class="m-0">ui/ux designer</p>
            </div>
        </div>
        <hr>
        <div class="d-flex gap-4 mt-3">
            <div class="d-flex gap-2">
                <img src="assets/dial.png" alt="">
                <p class="m-0">Contact</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/share.svg" alt="">
                <p class="m-0">Share</p>
            </div>
            <div class="d-flex gap-2">
                <img src="assets/location.svg" alt="">
                <p class="m-0">Location</p>
            </div>
        </div>
    </div>
 </div>

</div>